#main-container {
  margin-top: 75px;
  font-family: "Montserrat", sans-serif;
}

footer {
  //background-color: rgb(88, 88, 88, 75);
  bottom: 0;
  height: 55px;
  position: absolute;
  width: 100%;
}
