<nav class="navbar navbar-expand-lg navbar-light fixed-top top-nav-base">
  <div class="container-sm">
    <a class="navbar-brand" href routerLinkActive=""><img src="../../../../assets/images/minnaso_avocado.png" height="70" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href routerLink="/home" routerLinkActive="activebutton">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href routerLink="/contact" routerLinkActive="activebutton">Contact</a>
        </li>
      </ul>
      <span class="navbar-text">
chris.khoa.nguyen@gmail.com
      </span>
    </div>
  </div>
</nav>
