<div class="container-xxl my-md-4 bd-layout">
  <div class="pt-5">
    <h1>Abo-Kado</h1>
    <div class="card" style="width:50rem">
      <div class="card-body bg-swiss-coffee">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto at consequuntur dolores eligendi harum incidunt ipsam, ipsum iusto libero
          nobis placeat quaerat quam quod sed tenetur ut vel voluptates.</p>
      </div>
    </div>
  </div>

  <div *ngFor="let lesson of lessons">
    <h5>{{lesson.title}}</h5>
    <p>{{lesson.description}}</p>
  </div>
<div *ngFor="let test of tests">
  {{test}}
</div>
  <div class="row" style="margin-top: 190px">
    <!--    <ul>-->
    <!--      <li *ngFor="let lesson of lessons; let i = index" style="padding: 25px">-->
    <!--        <h5>{{lesson.title}}</h5>-->
    <!--        {{i}}-->
    <!--        <p>{{lesson.description}}</p>-->
    <!--      </li>-->
    <!--    </ul>-->

    <!--    <div class="col-sm-3" style="padding: 25px">-->
    <!--      <h5>Awesome Title Header</h5>-->
    <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores at, deleniti dolore doloremque doloribus ducimus error fugit harum labore-->
    <!--        minima, necessitatibus officiis possimus quas quia reiciendis sit vel!</p>-->
    <!--    </div>-->
  </div>
</div>

